@import 'template/head.less';
@import 'template/positionList.less';
@import 'template/foot.less';
@import 'template/positionInfo.less';
@import 'template/positionClass.less';
@import 'template/company.less';
@import 'position.less';
@import 'property.less';

.fs(@px) {
    // 设置所传参数以37.5为1 rem，因为iphone6的像素宽度为375，然后具体参数/37.5为实际的rem值
    font-size: unit(@px / 37.5, rem);
}

.w(@px) {
    width: unit(@px / 37.5, rem);   
}

.h(@px) {
    height: unit(@px / 37.5, rem);  
}

.lh(@px) {
    line-height: unit(@px / 37.5, rem);
}

.mt(@px) {
    margin-top: unit(@px / 37.5, rem);
}

.ml(@px) {
    margin-left: unit(@px / 37.5, rem);
}

.mr(@px) {
    margin-right: unit(@px / 37.5, rem);
}

.mb(@px) {
    margin-bottom: unit(@px / 37.5, rem);
}

.pt(@px) {
    padding-top: unit(@px / 37.5, rem);
}

.pl(@px) {
    padding-left: unit(@px / 37.5, rem);
}

.pr(@px) {
    padding-right: unit(@px / 37.5, rem);
}

.pb(@px) {
    padding-bottom: unit(@px / 37.5, rem);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: @bodyBgColor;
    .fs(16);
}